<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thor's Webpage</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="https://hypermedia.systems/"> Hypermedia Systems </a>

    {% extends 'layout.html' %} 
    {% block content %}

    <form action="/contacts" method="get" class="tool-bar">
      <label for="search">Search Term</label>
      <input
        id="search"
        type="search"
        name="q"
        value="{{ request.args.get('q') or '' }}"
      />
      <input type="submit" value="Search" />
    </form>

    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="Enter Email To Sign Up..." />
      <button>Sign Up</button>
    </form>
  </body>
</html>
